NODE_ENV=development
API_PORT=4000
ATHLETIQ_POSTGRES_PORT=15432
ATHLETIQ_REDIS_PORT=16379
DATABASE_URL=postgres://athletiq:athletiq@localhost:15432/athletiq
REDIS_URL=redis://localhost:16379
WEB_PUBLIC_API_URL=http://localhost:4000/api
